.footer {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding-top: 67px;
  padding-bottom: 60px;
}

.footer__text {
  color: #545454;
  width: 318px;
  height: 18px;
  padding: 0;
  margin: 0;
}
